Hello World!
<%= link_to 'ここを押してね！', :controller => "hello", :action => "link" %>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>HTML+CSS</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div class="コンテンツ">
      <h1>Layout</h1>

      <div class="grid_column">
        <div class="箱">
          <h2>Box 1</h2>
          <p>
            hello world hello world hello world hello world<br><br>
            hello world hello world hello world hello world
          </p>
        </div>

        <div class="箱">
          <h2>Box 2</h2>
          <p>
            hello world hello world hello world hello world
            hello world hello world hello world hello world
          </p>
        </div>
      </div>
      <div class="grid_column">
        <div class="箱">
          <h2>Box 3</h2>
          <p>
            hello world hello world hello world hello world
            hello world hello world hello world hello world
          </p>
        </div>

        <div class="箱">
          <h2>Box 4</h2>
          <p>
            hello world hello world hello world hello world
            hello world hello world hello world hello world
          </p>
        </div>
      </div>
    </div>
  </body>
</html>