<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTMLとCSS3で作るサイドメニュー</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <ul class="menu">
        <li class="brand">
        </li>
        <li class="menu-item">
          <i class="fa"></i>メニュー
        </li>
        <li class="menu-item">
          <i class="fa"></i>ディスカッション
        </li>
        <li class="menu-item">
          <i class="fa"></i>アカウント設定
        </li>
        <li class="menu-item">
          <i class="fa"></i>ヘルプ
        </li>
      </ul>
      <div class="contents">
       これ作るのに時間かかった
      </div>
    </div>
  </body>
</html>