<body>



  
  <div class="wrap slider" ontouchstart="">
        <div class="slide">
        <img class="item1 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/vd7R8nic/1693792625_1000.jpg" alt="">
        <img class="item2 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/3pM1SLkT/1682200255_1000.jpg" alt="">
        <img class="item3 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/6xqlt7Jy/1679027895_1000.jpg" alt="">
        <img class="item4 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/R9lwHlPT/1693018289_1000.jpg" alt="">
    </div> 
             <div class="slide">
        <img class="item1 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/vd7R8nic/1693792625_1000.jpg" alt="">
        <img class="item2 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/3pM1SLkT/1682200255_1000.jpg" alt="">
        <img class="item3 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/6xqlt7Jy/1679027895_1000.jpg" alt="">
        <img class="item4 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/R9lwHlPT/1693018289_1000.jpg" alt="">
    </div> 
           <div class="slide">
        <img class="item1 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/vd7R8nic/1693792625_1000.jpg" alt="">
        <img class="item2 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/3pM1SLkT/1682200255_1000.jpg" alt="">
        <img class="item3 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/6xqlt7Jy/1679027895_1000.jpg" alt="">
        <img class="item4 item" src="https://images.wear2.jp/coordinate/DZiMWDQ2/R9lwHlPT/1693018289_1000.jpg" alt="">
    </div> 
    </div> 

   
</div>
<div class="fashion-container">
      <div class="fashion">
      <%= image_tag 'fashion.jpg' %>
</div>  
  </div>

  <div class="first-block">
  </div>



  <footer>	
  
  </footer>
  
</body>

